body{
  font-family: monospace;
  background: black;
}

#screen{
  width: 1000px;
  height: 625px;
  background-color: #CBE6C9;
  border: 3px solid rgb(111, 124, 111);
  margin: 40px auto;
}


#header{
  text-align: center;
  font-size: 30px;
  color: rgb(62, 100, 59);
}

#pokemons img{
  width: 250px;
  margin-left: 70px;
  margin-top: 20px;
}

#player{
  width: 100%;
  margin-left: 60px;
}

#enemyImg {
  display: inline-block;
  width: 30%;
}

#playerImg{
  display: inline-block;
  width: 30%;
  margin-bottom: 20px;
  border: 1px solid #CBE6C9;
}

#enemy{
  width: 100%;
  margin-left: 65%;
  margin-top: 20px;
  clear: right;
}

#buttons{
  width: 40%;
  margin-left: 45%;
}

.hpBarBox {
  width: 40%;
  display: inline-block;
}

.hpBar{
  width: 250px;
  height: 10px;
  background-color: yellowgreen;
  border: 5px solid rgb(84, 112, 27);
  border-radius: 5px;
  transition-duration: 1s;
}

#enemyHp{
  margin-left: 130px;
  margin-bottom: 150px;
}

#playerHp{
  margin-left: 60%;
  margin-bottom: 80px;
}

#texts{
  margin-left: 20%;
  display: inline-block;
}

#textBox{
  font-size: 30px;
  color: yellowgreen;
}